<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/demo.css}" href="../../static/css/demo.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
     <link rel="stylesheet" th:href="@{/css/animate-custom.css}" href="../../static/css/animate-custom.css" />

     

	<style type="text/css">
.error{
color: red;
}
</style>
</head>
<body>


<!-- Validaciones -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script  th:src="@{/Scripts/plugin/js/jquery.validate.min.js}" type="text/javascript"  src="../../static/Scripts/plugin/js/jquery.validate.min.js" ></script>
    <script  th:src="@{/Scripts/plugin/js/messages_es.js}" type="text/javascript"  src="../../static/Scripts/plugin/js/messages_es.js"></script>
  <script  th:src="@{/Scripts/plugin/js/blockui.min.js}" type="text/javascript"  src="../../static/Scripts/plugin/js/blockui.min.js"></script>
   <script  th:src="@{/Scripts/plugin/js/alertify.min.js}" type="text/javascript"  src="../../static/Scripts/plugin/js/alertify.min.js"></script>
     <script  th:src="@{/Scripts/app/js/jquery.master.js}" type="text/javascript"  src="../../static/Scripts/app/js/jquery.master.js"></script>


</body>
</html>