<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang ="en">
 <meta charset="UTF-8">
<title>Insert title here</title>
 <th:block th:include="layout/layout_login"></th:block>
</head>
<body>

</head>
<body>

    
    <img src="../../static/img/logo6.gif" width="290" height="100"
                     th:src="@{/img/logo6.gif}" />
  <hr  width="1400" />
   <div class="container">
      
      
        <header>
           

        </header>
     
            <section  >
                <div  id="container_demo" style="padding-top:80px;">

                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                             
                        <div style="width: 350px; " id="login" class="animate form">
                        <form id="login-form"  role="form" style="display: block;">
									
                           
                             <h1>Iniciar Sesión</h1>
                         
                              
                                <p>
                                    <label for="username" class="uname" >Usuario </label>
                                    <input data-rule-required="true"   class="textbox1" name="username" id="username" tabindex="1" required="required" type="text" placeholder="Ingresa tu Usuario" />
                                  
                                    
                                </p>
                                <p>
                                    <label for="password" class="youpasswd" >Contraseña</label>
                                 
                                  <input data-rule-required="true"  class="textbox"  type="password" name="password" id="password" tabindex="2" placeholder="Password" />
                                </p>
                                <p class="keeplogin">
                                    <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
                                    <label for="loginkeeping">Olvidaste tu contraseña?</label>

                                </p>
                                <p class="login button">
                                   
                                    <input type="button"  value="Entrar" id="logearse"  class="form-control btn btn-register"   />
                                  
                                   
                                </p>
                                <p style="width: 350px" class="change_link">
                                    Ingresa tu usuario y contraseña.
                                    Luego da clic en "Entrar" o presione "Enter".

                                </p>
                       </form>
                        </div>
                       
                    </div>
                </div>
            </section>
        
    </div>

<script type="text/javascript">
$('#logearse').click(function() {
	
	
	if (jQuery.fn.MasterMainPage("fn_IsFormValid", $("#login-form"))) {
		
		window.location='./citas'; 
		
	}
	else {
	
		
	jQuery.fn.MasterMainPage("messagealert", "warning");
	

	}

});</script>


</body>
</html>